<!--#region-->

<p class="title">
  Componente Cronometro
</p>

<app-cronometro [minutos]="0"
                [segundos]="0"
                (marcarVuelta)="aniadirVuelta($event)"
                (detener)="limpiarVueltas()">
</app-cronometro>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let recorrido of timeStamps">
    <span>Timer: </span>{{recorrido * 1000 | date:'mm:ss'}}
  </li>
</ul>

<!--#endregion-->

<!--#region-->

<p class="title">
  Componente Acumulador
</p>
<!--AGREGO EL COMPONENTE QUE ACABO DE CREAR PARA QUE SE LO VEA EN MI HTML-->
<!--DENTRO DE acumulador.componen.html puedo ir agregando todas las secciones que se verán dentro de mi html-->
<!--Las comillas dobles no quiere decir que es un string, solo significa que todo lo que está dentro de las comillas
es lo que le voy a enviar, si quisiera mandar texto lo debo encerrar en comillas simples-->
<app-acumulador [contador]="150"
                [acm]="3"
                (eventoClick)="insertLogAcumulador($event)">
</app-acumulador>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let log1 of logAcumulador">
    {{ log1 }}
  </li>
</ul>

<!--#endregion-->

<!--#region-->

<p class="title">Data Bindjing</p>
<p>
  Hola, {{nombreEstudiante}}
</p>

<p class="title">Property Binding</p>
<p>
  Mi edad es de <span [innerHTML]="edadEstudiante"></span>
</p>

<p></p>
<p class="title">Event Binding</p>
<button (click)="edadEstudiante = edadEstudiante +5">
  Cambiar edad
</button>

<p></p>
<p class="title">Event Binding</p>
<button (click)="mostrarHora($event)">
  Mostrar Hora
</button>

<p>
  La Hora actual es: {{horaActual}}
</p>

<!--#endregion-->

<!--#region-->

<p class="title">Two Way Data Binding</p>

<div class="form-basic">
  <div class="input-form">
    <label>Nombre</label>
    <input type="text"
           placeholder="Nombre"
           [(ngModel)]="nombreEstudiante">
  </div>
  <div class="input-form">
    <label>Edad</label>
    <input type="number"
           placeholder="Edad"
           [(ngModel)]="edadEstudiante">
  </div>
</div>

<!--#endregion-->

<!--#region-->

<p class="title">Directivas NgIf, Else, NgFor</p>
<div>
  <p class="sub-title">NgIf - Else</p>
  <p *ngIf="edadEstudiante >= 18; else NoMayorEdad">
    El estudiante es <b>MAYOR</b> de edad
  </p>
  <ng-template #NoMayorEdad>
    El estudiante es <b>MENOR</b> de edad
  </ng-template>
</div>

<div>
  <p class="sub-title">NgFor</p>
  <p *ngFor="let color of colors">
    {{ color.redSocial }}
  </p>
</div>

<div>
  <p class="sub-title">NgFor - NgStyle</p>
  <p *ngFor="let color of colors"
     [ngStyle]="{ 'background-color': color.color, 'color': '#ffffff' }"
     class="content-social">
    {{ color.redSocial }}
  </p>
</div>

<div>
  <p class="sub-title">NgFor - NgClass</p>
  <p *ngFor="let color of colors; let i = index"
     [ngClass]="{'text-social': i % 2 ==0}"
     class="content-social">
    {{ color.redSocial }}
  </p>
</div>

<!--#endregion-->
